Aleksandra Tarkowska <a.tarkowska@dundee.ac.uk> <A.Tarkowska@dundee.ac.uk>
Anna Hamacher <anna.hamacher@hhu.de> <61734239+abhamacher@users.noreply.github.com>
Carsten Fortmann-Grote <carsten.fortmann-grote@evolbio.mpg.de> <grotec@evolbio.mpg.de>
Carlos Neves <carlos@glencoesoftware.com> <staff@glencoesoftware.com>
Chris Allan <callan@glencoesoftware.com> <callan@blackcat.ca>
Christian Evenhuis <christian.evenhuis@gmail.com> <evenhuis@uts.edu.au>
Colin Blackburn <c.blackburn@dundee.ac.uk> <colin@ximenes.org.uk>
Colin Blackburn <c.blackburn@dundee.ac.uk> <cblackburn@05709c45-44f0-0310-885b-81a1db45b4a6>
Donald MacDonald <dzmacdonald@lifesci.dundee.ac.uk> <dzmacdonald@05709c45-44f0-0310-885b-81a1db45b4a6>
Emil Rozbicki <emil@glencoesoftware.com> <emilroz@gmail.com>
Helen Flynn <h.flynn@dundee.ac.uk> <omehelen@gmail.com>
Jean-Marie Burel <j.burel@dundee.ac.uk>
Jean-Marie Burel <j.burel@dundee.ac.uk> <jburel@05709c45-44f0-0310-885b-81a1db45b4a6>
Josh Moore <josh@openmicroscopy.org> <j.a.moore@dundee.ac.uk>
Josh Moore <josh@openmicroscopy.org> <josh.moore@gmx.de>
Josh Moore <josh@openmicroscopy.org> <josh@glencoesoftware.com>
Josh Moore <josh@openmicroscopy.org> <jmoore@05709c45-44f0-0310-885b-81a1db45b4a6>
Mark Carroll <m.t.b.carroll@dundee.ac.uk> <M.T.B.Carroll@Dundee.ac.uk>
Nikolas Ehrenfeuchter <nikolaus.ehrenfeuchter@unibas.ch> <mail@he1ix.org>
Petr Walczysko <p.walczysko@dundee.ac.uk>
Sébastien Besson <sbesson@glencoesoftware.com> <seb.besson@gmail.com>
Will Moore <w.moore@dundee.ac.uk>
Will Moore <w.moore@dundee.ac.uk> <will@lifesci.dundee.ac.uk>
Will Moore <w.moore@dundee.ac.uk> <wmoore@05709c45-44f0-0310-885b-81a1db45b4a6>
